# Python
**/__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# VS Code / PyCharm
.idea/
.vscode/

# Keys and sensitive
*.pem
*.key
*.pub
validator_key.priv
mint_key.priv

# Logs
*.log

# logs folder
logs/

# Poetry
poetry.lock

# Environment
.env

# Test data
chain_*_blockchain
chain_*_transaction

.opencode
.pytest_cache
.ruff_cache
